<section class="item">
  <p class="item__name">{{item.name}}</p>
  <p class="item__color" [ngStyle]="{'background': item.color}"></p>
  <p class="item__brand">{{item.brand}}</p>
  <p class="item__brand">{{item.price}}</p>
  <p class="item__brand">{{item.rating}}</p>
  <p class="item__brand">{{item.sale ? 'in Sale' : 'No Items'}}</p>
  <img class="item__brand" src="{{item.picture}}">
</section>
