<section class="shop">
  <section class="shop__filters"></section>
  <section class="shop__items">
    <app-shop-item *ngFor="let item of items" [item]="item"></app-shop-item>
  </section>
</section>
